body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ff4081;
}

#timer {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #ff4081
}

.button {
    text-decoration: none;
    background-color: #cc00ff;
    color: rgb(247, 0, 255);
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #b373c4;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    transition: background-color 0.3s;
}
